/*Header*/
.chaise{
    height: 80px;
    border: 1px solid black;
    text-align: center;
    
}

/*Body*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

.barre{
    height: 80px;
    border: 1px solid black;
    background-color: rgb(216, 219, 13);
    display:grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
}
h1{
    color:rgb(124, 12, 34);
}

.bot{
    border: 1px solid black;
    height: 500px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
li{
    list-style-type: none;
    border: 1px solid black;
    height: 50px;
    width: 80px;
}
a{
    text-decoration: none;
}
.bot2{
    display: grid;
    grid-template-columns: auto;
    
}
.bot3{
    display: grid;
    grid-template-columns: auto;
}